[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
tensorflow = "*"
nibabel = "*"
scipy = "*"
matplotlib = "*"
keras = "*"
tensorflow-gpu = "*"

[dev-packages]

[requires]
python_version = "3.8"
